@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
header, main, nav, section, article, aside, footer{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}

.App {
  /* text-align: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(53, 53, 53);
  padding: 0 20px;
  nav{
    background: #ff0;
    ul {
      display: flex;
      li {
        margin: 0 10px;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
